.signup {
  margin-top: 90px;
  border: solid .5px #e5e5e5;
  border-radius: 5px;
  padding: 15px 20px 30px 20px;
}

.main-body {
  padding-top: 70px; /* the height of the navbar */
  overflow: auto;
}

.content-body {
  height: 100vh;
  padding-top: 70px; /* the height of the navbar */
  overflow: auto;
}

.box{
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}

.img-preview{ /* check if this is being used */
  overflow: hidden;
}

.header-custom {
  color: #009690;
  font-size: 44px;
  font-weight: lighter;
  margin-bottom: 25px;
}


.profile-headline {
  color: #009690;
  font-size: 56px;
  font-weight: lighter;
  margin-bottom: 25px;
}

.artwork-thumbnail {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px;
  margin-right: 20px;
  width: 150px;
}

.user-icon {
  font-size: 22px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.artwork-thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.artwork-genre {
  color: white;
  padding: 0 5px 1px;
  border: 1px;
  border-radius: 3px;
  background-color: #878b91;
}

.artwork-user {
  color: #009690;
}

.cropper-preview {
  height: 300;
  width: 300;
}

.cropped-img-preview {
  width: 15%;
  border: 1px solid gray;
}

.clickable {
  cursor: pointer;
}

.border-main {
  height: 100vh;
  top: 25px;
}

.bg-navy {
  background: #28274B !important;
}

#searchbar {
  padding: 15px;
}

.navbar {
  height: 60px;
}

#button-search {
  margin: 0 15px;
}

.default-profile {
  border: solid .7px gray;
  border-radius: 2px;
  margin: 1em 0 .5em 0;
}

img.default-profile {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.pageHeader {
  padding: 20px 0;
}

.profile-bckgnd {
  background-image: url('../images/profile-bckg.jpg') !important;
  background-size: cover;
  border: solid 5px #28274B;
  border-radius: 5px;
}

.signup-pic {
  background-color: #293750;
  border-padding: 5px;
}

hr {
  border: 0 !important;
  height: 1px !important;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0) !important;
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

/* Hide Scrollbar MS Edge */
::-ms-overflow-style: none;