.login {
  margin-top: 115px;
  border: solid .7px #e5e5e5;
  border-radius: 7px;
  padding: 15px 20px 30px 20px;
}

.signup {
  margin-top: 90px;
  border: solid .5px #e5e5e5;
  border-radius: 5px;
  padding: 15px 20px 30px 20px;
}

.content-body {
  height: 100vh;
}

.box{
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}

.img-preview{ /* check if this is being used */
  overflow: hidden;
}

.header-custom {
  color: #009690;
  font-size: 44px;
}

.artwork-thumbnail {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px;
  margin-right: 20px;
  width: 150px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.artwork-thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.artwork-genre {
  color: white;
  padding: 0 5px;
  border: 1px;
  border-radius: 3px;
  background-color: lightgray;
}

.artwork-user {
  color: #009690;
}

.cropper-preview {
  height: 300;
  width: 300;
}

.cropped-img-preview {
  width: 15%;
  border: 1px solid gray;
}

.clickable {
  cursor: pointer;
}

.bg-navy {
  background: #28274B !important;
}

#searchbar {
  padding: 15px;
}

#button-search {
  margin: 0 15px;
}

.default-profile {
  border: solid .7px gray;
  border-radius: 2px;
  margin: 1em 0 .5em 0;
}

.username {
  color: white !important;;
}

.pipe {
  padding: 0 12px !important;
  color: white !important;
}

img.default-profile {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

img.headerProfilePic {
  border: 0.06rem solid white;
  border-radius: 50%;
  height: 45px;
  max-height: 45px;
  margin-right: 10px;
}


h2.pageHeader {
  padding: 30px 0;
}

.logout {
  color: red !important;
}

.logout:hover {
  color: white;
  text-decoration: none;
}

audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}