.login {
  margin-top: 115px;
  border: solid .7px #e5e5e5;
  border-radius: 7px;
  padding: 15px 20px 30px 20px;
}

.signup {
  margin-top: 90px;
  border: solid .5px #e5e5e5;
  border-radius: 5px;
  padding: 15px 20px 30px 20px;
}

.contentBody {
  margin-top: 15px;
}

.box{
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview{
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.profile {
  padding: 10px 0;
}

.bg-navy {
  background: #28274B !important;
}

#searchbar {
  padding: 15px;
}

#button-search {
  margin: 0 15px;
}

.default-profile {
  border: solid .7px gray;
  border-radius: 2px;
  margin: 1em 0 .5em 0;

}

.username {
  color: white !important;;
}

.pipe {
  padding: 0 12px !important;
  color: white !important;
}

img.default-profile {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

img.headerProfilePic {
  border: 0.06rem solid white;
  border-radius: 50%;
  height: 45px;
  max-height: 45px;
  margin-right: 10px;
}


h2.pageHeader {
  padding: 30px 0;
}

.logout {
  color: red !important;
}

.logout:hover {
  color: white;
  text-decoration: none;
}