@media screen and (min-width: 100px) and (max-width: 1280px) {
  .shar_mix_col {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  h4.login-text-gray {
    font-size: 1.1rem;
  }

  div.login-icons-group {
    margin: 2em 0 5px 0;
    padding: 0;
    left: 40px;
  }

  .footer-p {
    padding: 7px 0 !important;
  }

  div.col-8.login-body-content {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }

  div.col-4.login.bg-light {
    margin-top: 110px !important;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1441px) {
  .shar_mix_col {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media screen and (min-width: 1400px) {
  img.login-icons {
    height: 11em !important;
  }

  h1.login-headline.mb-3.display-2 {
    font-size: 3em;
  }
}

@media screen and (min-height: 785px) {
  div.middle-content {
    margin-top: 40px;
  }
}


@-moz-document url-prefix() {
  .form-control { box-shadow: none; }
}

.logo-lg {
  position: relative;
  top: 2px;
}

.login-nav {
  padding: 5px 0 5px 0;
}

.login {
  margin-top: 110px;
  border: solid .7px #e5e5e5;
  border-radius: 7px;
  padding: 15px 20px 30px 20px;
}

.login-body-content {
  margin-top: 100px;
  padding: 15px 20px 30px 0;
}

h1.login-headline {
  font-size: 2.5em;
  line-height: 1.3em;
  margin: 0;
}

.login-icons-group {
  margin: 4em 0 5px 0;
  padding: 0;
  left: 40px;
}

.login-icons {
  height: 10em !important;
}

.login-icon-text {
  color: #009690;
  font-size: 24px;
  font-weight: lighter;
  margin-top: 2px;
}

.signup-text {
  color: #009690 !important;

}

.login-text-gray {
  color: #707070 !important;
}

.login-footer-text {
  color: #f9f9f9 !important;
}

.login-error {
  font-size: 12px;
}

.footer-p {
  padding: 10px 0;
}
