.track-main-img {
  width: 300px;
  border: solid 1px gray;
  background: rgba(0, 0, 0, .3);
  border-radius: 2px;
  padding: 2px;
}

.track-play-icon {
  font-size: 62px;
}

.track-play-type {
  font-size: 15px;
  font-family: Verdana;
  letter-spacing: 1px;
  color: #000000a6;
}

.track-play-info {
  font-weight: bold;
  margin-right: 5px;
  letter-spacing: .5px;
}

.track-player {
   position: absolute;
   bottom: 0;
}

.track-add-comment {
  padding: 4px 2px;
  background-color: #009690;
  border: solid gray 1px;
  border-radius: 3px;
  width: 100%;
}

.track-img-comment {
  float: left;
  margin: 0 10px 0 3px;
  width: 38px;
  border-radius: 5px;
}

.track-uploader {
  font-weight: normal;
}

.track-input {
  width: 90% !important;
  display: inline-flex;
}

.track-uploader-img {
  float: left;
  width: 200px;
  border: solid 1px gray;
  background: rgba(0, 0, 0, .3);;
  border-radius: 2px;
  padding: 1px;
}

.track-comment-section {
  padding: 0;
  margin: 0;
}

.list-item-hover:hover {
  background-color: #28274B;
  color: white;
}

.mix_player_text {
  position: absolute !important;
  padding-top: 5% !important;
}

.mix_player {
  height: 50px;
  background-color: #333;
  width: 100%;
  color: #fff;
  position: relative;
  padding: 1px;
  font-size: 30px;
  letter-spacing: 1px;
  word-spacing: 4px;
}